.git
.github
.env

backend/node_modules
backend/vendor
backend/.env
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/public/hot

frontend/node_modules
frontend/dist
